---
layout: default
---

<div class="home">

    <h1>Добро пожаловать, свободные граждане!</h1>

    <p>Этот сайт содержит описание, правила и прочую информацию посвященную Форуму Свободной России.
        В данный момент форум доступен по адресу 
        <a href="https://forumfreeru.icyboards.net/" target="_blank">https://forumfreeru.icyboards.net/</a>
    </p>

    <h2>Цель форума</h2>
    <p>
        Форум создан для обсуждение сценариев вывода России из политического, экономического и культурного тупика.
        Если вы хотите принять участие в обсуждение, приглашаем вас по ссылке, указанной в предыдущем параграфе.
        Но перед этим советуем прочитать <a href="/rules/">правила</a>.
    </p>

    <h2>Принципы работы форума</h2>
    <p>
        Все новые пользователи форума могут создавать темы и оставлять комментарии в режиме премодерации. Их посты будут 
        просмотрены модераторами разделов прежче чем их увидят остальные форумчане. Со временем, по мере появления у 
        пользователя истории сообщений, пользователь может быть переведен в группу доверенных пользователей. Это даст ему 
        право писать на форуме без премодерации. Также он получит право создавать опросы и участвовать в опросах других 
        форумчан.
    </p>
    <p>
        На <a href="/admins/">этой</a> странице вы можете узнать кто и как управляет работой форума.
    </p>

    <h2 class="page-heading">Новости</h2>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">Подпишитесь <a href="{{ "/feed.xml" | relative_url }}">по RSS</a></p>

</div>
