---
layout: default
---

<div class="home">

    <h1>Добро пожаловать, свободные граждане!</h1>

    <p>Этот сайт содержит описание, правила и прочую информаци посвященную Форуму Свободной России.
        В данный момент форум доступен по адресу ...
    </p>

    <h2>Цель форума</h2>
    <p>
        Форум создан для обсуждение сценариев вывода России из политического, экономического и культурного тупика.
        Если вы хотите принять участие в обсуждение, приглашаем вас по ссылке, указанной в предыдущем параграфе.
        Но перед этим советуем прочитать <a href="/rules/">правила</a>.
    </p>

    <h2 class="page-heading">Новости</h2>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">Подпишитесь <a href="{{ "/feed.xml" | relative_url }}">по RSS</a></p>

</div>
